.App {
  background-color: #ffefd5;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.HeaderBar {
  background-color: #ffefd5;
  display: flex;
  flex-grow: 1;
  height: 4vh;
  justify-content: space-between;
  margin-top: 1vh;
  margin-left: 70px;
  margin-right: 70px;
  font-family: "Baskerville";
  font-size: 12px;
  color: #0c3566;
  position: sticky;
}

.Content{
  height:85vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.WelcomeWrapper {
  margin-top: 10vh;
  width: 100%;
  position: relative;
}
.Welcome {
  position: absolute;
  width: 100%;
  top: 10px;
  font-family: "Avenir Next";
  font-style: italic;
  font-size: 150px;
  text-align: center;
  color: #0c3566;
}

.Welcome2 {
  position: absolute;
  width: 100%;
  left: -10px;
  font-family: "Avenir Next";
  font-style: italic;
  font-size: 150px;
  text-align: center;
  color: #949598;
}

.Tagline {
  text-align: center;
  width: 100%;
  margin-top: 25vh;
  font-family: "Baskerville";
  font-size: 23px;
  color: #0c3566;
  margin-bottom: 3vh;
}

.Latest{
  font-family: "Avenir Next";
  font-style: italic;
  width: 100%;
  text-align: center;
  font-size: 23px;
  color: #0c3566;
}

.Projects{
  font-family: "Avenir Next";
  font-style: italic;
  font-size: 20px;
  color: #0c3566;
  margin-left: 10vw;
  text-align: left;
}

.ProjectsCard{
  width: 60vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: flex;
  align-items: center;
}

.ProjectsContent{
  font-family: "Baskerville";
  background-color: #0c3566;
  width: 100%;
  color: #ffefd5;
  font-size: 20px;
}

.FooterBar {
  text-align: left;
  font-family: "Baskerville";
  background-color: #0c3566;
  height: 10vh;
  width: 100%;
  display: flex;
  color: #ffefd5;
  font-size: 20px;
}

.FooterButtons:hover {
  color: #949598;
}

.linkText{
  text-decoration: none;
  color: #ffefd5;
}

.FooterElement {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.FooterFiller{
  flex-grow: 4;
}
