.App {
  background-color: #ffefd5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.HeaderBar {
  background-color: #ffefd5;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 70px;
  font-family: "Baskerville";
  font-size: 12px;
  color: #0c3566;
  position: sticky;
}

.Content{
  overflow-y: scroll;
  overflow-x: hidden;
}

.Welcome {
  position: fixed;
  width: 100%;
  top: 150px;
  font-family: "Avenir Next";
  font-style: italic;
  font-size: 150px;
  text-align: center;
  color: #0c3566;
}

.Welcome2 {
  position: fixed;
  width: 100%;
  top: 140px;
  left: -10px;
  font-family: "Avenir Next";
  font-style: italic;
  font-size: 150px;
  text-align: center;
  color: #949598;
}

.Tagline {
  text-align: center;
  position: fixed;
  width: 100%;
  top: 350px;
  font-family: "Baskerville";
  font-size: 23px;
  color: #0c3566;
}

.Latest{
  font-family: "Avenir Next";
  font-style: italic;
  position: fixed;
  width: 100%;
  top: 450px;
  text-align: center;
  font-size: 23px;
  color: #0c3566;
}

.Projects1{
  font-family: "Avenir Next";
  font-style: italic;
  position: fixed;
  text-align: left;
  font-size: 20px;
  color: #0c3566;
  top: 490px;
  left: 20vh;
}

.Projects2{
  font-family: "Avenir Next";
  font-style: italic;
  position: fixed;
  text-align: left;
  font-size: 20px;
  color: #0c3566;
  top: 530px;
  left: 20vh;
}

.Projects3{
  font-family: "Avenir Next";
  font-style: italic;
  position: fixed;
  text-align: left;
  font-size: 20px;
  color: #0c3566;
  top: 570px;
  left: 20vh;
}

.Projects4{
  font-family: "Avenir Next";
  font-style: italic;
  position: fixed;
  text-align: left;
  font-size: 20px;
  color: #0c3566;
  top: 610px;
  left: 20vh;
}

.Projects5{
  font-family: "Avenir Next";
  font-style: italic;
  position: fixed;
  text-align: left;
  font-size: 20px;
  color: #0c3566;
  top: 650px;
  left: 20vh;
}

.FooterBar {
  text-align: left;
  font-family: "Baskerville";
  background-color: #0c3566;
  height: 100px;
  width: 100%;
  display: flex;
  color: #ffefd5;
  font-size: 20px;
}

.FooterButtons:hover {
  color: #949598;
}

.linkText{
  text-decoration: none;
  color: #ffefd5;
}

.FooterElement {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.FooterFiller{
  flex-grow: 4;
}
